/* Addproject.css */
.P1Name {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2f4454;
    color: #3aafa9;
}

.addprojectpage{
    display: flex;
}

label {
    font-size: 18px;
}

input[type="input"],
textarea {
    width: 100%;
    max-width: 300px;
    padding: 8px;
    margin: 6px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea.PName1 {
    height: 100px;
    /* Adjust the height as needed */
    resize: vertical;
    /* Allow vertical resizing of the textarea */
}

button#add {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button#add:hover {
    background-color: #0056b3;
}
