.home1 {
    background-color: #222629;
}

.sidebar {
    background-color: #0b0c10;
    width: 50px;
    height: 606px;
    color: white;
    display: flex;
    flex-direction: column;
}

.plus {
    margin: 15px;
    cursor: pointer;
    font-size: 20px;
}

.projects{
    margin-top: -19px;
    display: flex;
}

.home {
    margin: 15px;
    cursor: pointer;
    font-size: 20px;
}

.ham {
    margin: 25px 0px 15px 15px;
    cursor: pointer;
    font-size: 20px;
}

.issues {
    margin: 15px;
    cursor: pointer;
    font-size: 20px;
}

.settings {
    margin: 15px;
    cursor: pointer;
    font-size: 20px;
}

.title {
    margin-left: 12px;
    margin-top: 0;
    font-size: 45px;
    color: white;
}

.login{
    background-color: white;
    height: 25px;
    width: 70px;
    border-radius: 3px;
    position: absolute;
    right: 0;
    margin-right: 17px;
    margin-top: -50px;
    cursor: pointer;
}
.center {
    display: flex;
    align-items: center;
}

.add {
    background-color: #4c5453;
    color: #66fcf1;
    height: 25px;
    width: 100px;
    margin: 25px;
    /* text-align: center; */
    border-radius: 20px;
    display: flex;
    padding-left: 4px;
    cursor: pointer;
}

.remove{
    background-color: #4c5453;
    color: #66fcf1;
    height: 25px;
    width: 110px;
    margin: 25px;
    text-align: center;
    border-radius: 20px;
    padding-left: 4px;
    cursor: pointer;
}

.update{
    background-color: #4c5453;
    color: #66fcf1;
    height: 25px;
    width: 110px;
    margin: 25px;
    /* text-align: center; */
    border-radius: 20px;
    /* display: flex; */
    /* padding-left: 4px; */
    cursor: pointer;
}

.issueplus {
    margin-top: 1px;
}

.yourproject {
    color: #66fcf1;
    margin-left: 20px;
}

.projectname {
    background-color: rgba(255, 255, 255, 0.857);
    height: 420px;
    width: 200%;
    margin: 20px;
    margin-top: 0px;
    border: solid black;
    border-radius: 6px;
}
